.printable_column_wrapper{
    display: block;
    overflow: auto;
    border-top:1px solid #ddd;;
}

.printable_column_wrapper .single_block{
    width: 50%;
    float:right;
    border: 1px solid #ddd;
    margin-top: -1px;
    display: flex;
}
.printable_column_wrapper .single_block:nth-child(even){
    margin-right: -1px;
}
.printable_column_wrapper .single_block .label{
    background-color: #e4e7f1;
    width: 35%;
    float:right;
    padding:7px 10px;
    font-size: 12px;
}
.printable_column_wrapper .single_block .content{
    background-color: white;
    width: 65%;
    border-right: 1px solid #ddd;
    float:right;
    padding:5px 10px;
    font-size: 12px;
}

.printable_table{
    display: none;
}


@media only screen and (max-width: 1200px) {
    .printable_column_wrapper .single_block{
        width: 100%;
        margin-right: 0;
    }
    .printable_column_wrapper .single_block:nth-child(even){
        margin-right: 0;
    }
}
@media print {
    .printable_column_wrapper .single_block{
        width: 100%;
        margin-right: 0;
    }
    .printable_column_wrapper .single_block:nth-child(even){
        margin-right: 0;
    }
    .hideOnPrint{
        display:none
    }
    .print_btn{
        display: none
    }




    .printable_table{
        display: block;
    }
    .hide_on_print{
        display: none !important;
    }
}